.container{
    display: flex;
}

.wrapper{
    flex:1;
    margin: 3% 8% 3% 12%;
}

.break{
    height: 1rem;
}

.skills {
    display: flex;
    flex-wrap: wrap; 
}

.skills > li {
    border: 1px solid #c4c5c5;
    border-radius: 12%;
    padding: 3%;
    margin: 1%;
    transition: ease-in-out 0.3s;
    background-color: rgb(245, 245, 245);
    list-style-type: none;
}


.skills > li:hover{
    background-color: rgba(144, 200, 226, 0.748);
    cursor: pointer;
    transform: translateY(-5px);
    color: rgb(73, 73, 73);
    box-shadow: 0 0 10px rgba(11, 119, 169, 0.2);
}

h2{
    filter: blur(0.2px);
}

@media (max-width: 768px) { 
    .container {
      flex-direction: column;
    }
  }
  