ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:5%;
    margin: 0;
    height: 5rem;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.432);

    a{
        color:black;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: ease-in-out 0.3s;
    }

    a:hover{
        color:rgb(145, 201, 219);
        scale: 1.1;
        font-size: 1.4rem;
    }
}
