.experience-container {
    display: flex;
    align-items: center;
}

.wrapper-exp {
    margin-right: 16px; 
}

.experience-text {
    font-size: 16px;
    color: #333;
}

.spaccer{
    height: 0.4rem;
}

.splitter-bottom{
    margin: 5% 10% 5% 10%;
    opacity: 0.6;
}

.btn-credential {
    background-color: rgb(106, 163, 198);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
    text-align: center; 
}
