.experience-container {
    display: flex;
    align-items: center;
}

.wrapper-exp {
    margin-right: 16px; 
}

.experience-text {
    font-size: 16px;
    color: #333;
}

.spaccer{
    height: 0.4rem;
}