.head-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color:black;
    filter: blur(0.3px);
}

.splitter{
    width: 5%;
    background-color: lightblue;
    height: 0.2rem;
    border-radius: 100px;
    border: none;
}