.background {
    margin: 10% 11% 10% 12%;
    background: linear-gradient(
        to right,
        rgba(166, 195, 208, 0.748) 0%,   
        rgba(96, 176, 213, 0.748) 33%,   
        rgba(120, 179, 228, 0.748) 66%, 
        rgba(69, 129, 182, 0.748) 100%   
    );
    height: 36rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin-top: 2%;
    margin-bottom: 1%;
    opacity: 0; 
    transform: translateY(20px); 
}

.background.loaded {
    opacity: 1;
    transform: translateY(0); 
}

.background h1 {
    font-size: 4.2rem;
}

.background p {
    font-size: 1.4rem;
    margin: 0% 10%;
}

@media (max-width: 768px) {
 .background{
    margin: 2%;
    height: 36rem;
    margin-top: 9rem;
 };
 .background h1{
    font-size: 2.2rem;
 }
 
}
