.dark{
    background-color: rgba(0, 0, 0, 0.892);
}

.font-dark{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-name{
    margin-left: 4px;
}